<a href="https://colab.research.google.com/github/ManishKr19/Edureka-Data-Science/blob/main/M3_Case_Study_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Case Study III**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
customer = pd.read_csv(r"/content/bank-data.csv")
customer.head()

   age          job  marital    y
0   20      student   single  yes
1   32   management   single  yes
2   49   technician  married  yes
3   32  blue-collar  married  yes
4   33   management  married  yes

In [7]:
age_loan_eligible = {'min': min(df['age']), 'max': max(df['age'])}
age_loan_eligible

{'max': 80, 'min': 19}

In [18]:
unique_job = set(df['job'].to_list())
unique_job

{'admin.',
 'blue-collar',
 'entrepreneur',
 'housemaid',
 'management',
 'self-employed',
 'services',
 'student',
 'technician'}

In [19]:

while True:
  profession = input("Enter the profession: \n").lower()
  if profession in unique_job:
    print('Client is eligible')
  elif profession == 'end':
    break
  else:
    print('Client is not eligible')

Enter the profession:
Farmer
Client is not eligible
Enter the profession:
Manish
Client is not eligible
Enter the profession:
Student
Client is eligible
Enter the profession:
end